name: gamepads_example
description: A simple example project showcasing the gamepads plugin.
publish_to: 'none'

version: 0.1.0

environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  gamepads: ^0.1.1

dev_dependencies:
  flame_lint: ^0.2.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true